<squareland2.0>
	
	<preparation>
	
		<settings>
			<geometrie>
				<maze rows="20" columns="20" borders="1" />
				<blocks width="15" height="3.5" landmark_width="2" landmark_height="1.67" />
				<paths width="4" />
			</geometrie>
			
			<textures>
				<blocks color="200.200.200" />
				<!-- <blocks color="255.255.255" file="Assets/Textures/brick.jpg" tiling_x="8" tiling_y="8" /> -->
				<!-- <surface file="Assets/Textures/surface2.jpg" tiling_x="400" tiling_y="400" /> -->
				<sky color="0.87.200" />
			</textures>
			
			<camera field_of_view="40" far_clip_plane="200" eye_height="1.7" />
			
			<haze enable="0" add_meters="2" />
			
			<instructions min_duration="1000" />
			
			<overlays x="0" y="-60" text_maximum_width="200" font_size="18" />
			
			<movement speed="1.69" stop_meters="4.2" />
			
			<files randomize="1">
				<file path="Assets/Textures/Pictograms/1.jpg" />
				<file path="Assets/Textures/Pictograms/2.jpg" />
			</files>
			
		</settings>
		
		<routes>
			<route name="1" start="2;1" end="2;19">
				<intersection waypoint="2;2"></intersection>
				<intersection waypoint="2;3"></intersection>
				<intersection waypoint="2;4"></intersection>
				<intersection waypoint="2;5"></intersection>
				<intersection waypoint="2;6"></intersection>
				<intersection waypoint="2;7"></intersection>
				<intersection waypoint="2;8"></intersection>
				<intersection waypoint="2;9"></intersection>
				<intersection waypoint="2;10"></intersection>
				<intersection waypoint="2;11"></intersection>
				<intersection waypoint="2;12"></intersection>
				<intersection waypoint="2;13"></intersection>
				<intersection waypoint="2;14"></intersection>
				<intersection waypoint="2;15"></intersection>
				<intersection waypoint="2;16"></intersection>
				<intersection waypoint="2;17"></intersection>
				<intersection waypoint="2;18"></intersection>
			</route>
		</routes>
		
	</preparation>
	
</squareland2.0>